.result-section {
  margin-top: 22%;
  display: block;
  align-items: center;
  justify-content: center;
}

.result-text {
  font-family: "Alata";
  font-size: 40px;
}

.result__div {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 400px;
}
